/* ===== Print page (rota /print) ===== */
body.print-page {
  background: #fff !important;
  color: #111 !important;
}

body.print-page #root {
  background: #fff !important;
}

/* melhora consistência no PDF */
@media print {
  html, body {
    background: #fff !important;
    color: #111 !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
